h1{
    text-align: center;
}
div.buttons{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
h2{
    text-align: center;
}
.acc{
    border-color: black;
    margin: 1px;
    background-color: aqua;
}
div.bonus{
    background-color: aquamarine;
}
.btn{
    justify-content: center;
    align-items: center;
    text-align: center;
}